# Qt

*.user

moc_*

ui_*

qrc_*

Makefile


*.qm

/.qmake.stash

/.qmake.cache


# Folders

release/

debug/

Games/


Screenshots/

Video/

#Compied Object files, Dynamic libs

*.o

*.dll



# Executables

*.exe

*.Release

*.Debug
